version: '3.3'
services:
  sql:
    # build: './sql'
    image: mysql:latest
    environment:
      MYSQL_DATABASE: 'nlp'
      MYSQL_USER: 'umduser'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3307:3306'
    expose:
      - '3307'
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./sql/dump.sql:/docker-entrypoint-initdb.d/dump.sql
    networks:
      container_net:
        ipv4_address: 172.28.1.1
  api:
    build: './api'
    ports:
      - '3000:8080'
    networks:
      container_net:
        ipv4_address: 172.28.1.2
  node:
    build: './node-classifiers'
    ports:
      - '3001:8080'
    volumes:
      - ./node-classifiers/results:/usr/src/app/results
    networks:
      container_net:
        ipv4_address: 172.28.1.3
networks:
  container_net:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16