version: '3.3'
services:
  sql:
    # build: './sql'
    image: mysql:latest
    environment:
      MYSQL_DATABASE: 'nlp'
      # So you don't have to use root, but you can if you like
      MYSQL_USER: 'umduser'
      # You can use whatever password you like
      MYSQL_PASSWORD: 'password'
      # Password for root access
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - '3307:3306'
    networks:
      testing_net:
        ipv4_address: 172.28.1.1
    expose:
      # Opens port 3307 on the container
      - '3307'
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - ./sql/dump.sql:/docker-entrypoint-initdb.d/dump.sql
  api:
    build: './api'
    ports:
      - '3000:8080'
    networks:
      testing_net:
        ipv4_address: 172.28.1.2
networks:
  testing_net:
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16